main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e0e0e0;
  padding-top: 100px;
  flex : 1;
}
.main-section{
  display: flex;
  justify-content: space-between;
}


/* main-section-left1 */

.main-section-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 700px;
  margin-right: 100px;
}

.main-section-left1-header{
  display: flex;
  align-items: center;
  background-color: beige;
}

.main-section-left1-header img{
  width: 50px;
  height: 50px;
}

.main-section-left1-header div{
  position: relative;
  right: 8px;
}

.main-section-left1-item{
  background-color: white;
}

.main-section-left1-item li{
  padding: 10px 10px;
}


.main-section-left1-item a{
}

.main-section-left1-item hr{
  color: darkgray;
}


.main-section-left1-item div:first-child{
  margin-bottom: 10px;
}

.main-section-left1-item div+div{
  font-size: 14px;
  color: darkgray;
}

/* main-section-left2 */


/* main-section-center */

.main-section-center{
  margin-right: 100px;
  width: 35vw;
}

.main-section-center .content-table{
  margin-top: 1vh;
  width: 100%;
  
}

.main-section-center .content-table tr{
  border-bottom: 1px solid #e0e0e0;;
  background-color : white;
}

.main-section-center .content-table td a > *{
  margin-bottom: 2vh;
}

.main-section-center .content-table thead{
  height: 5vh;
  text-align: center;
  
}

.main-section-center .content-table thead td{
  height: 5vh;
  vertical-align: middle;
  background-color : gray;
}

.main-section-center .content-table tbody td{
	padding: 1vh 1vw;
}


.main-section-center .content-table td{
  width: 100%;
}

.main-section-center .content-table .boardContent{
  height: 2vh;
  overflow: hidden;
}

.main-section-center .content-table .boardUser{
  display: flex;
  align-items: center;
}

.main-section-center .content-table .boardUser img{
  width: 25px;
  height: 25px;
  margin-right : 1vw;
}

.main-section-center .boardCount{
	display: flex;
	justify-content: space-between;
}

.main-section-center .boardCount img{
	width: 25px;
	height: 25px;
}

.main-section-center .boardCount span{
	font-size: 20px;
}


.main-section-center .search {
  border: 1px solid black;
}

.main-section-center .search table{
  width: 100%;
}

.main-section-center .search input{
  width: 90%;
}

.main-section-center .search button{
  background-color: aquamarine;
  width: 9%;
}

.main-section-center .search button span{
  font-size: 50px;
  height: 50px;
}


.board table {
  margin-top: 50px;
  width : 600px;
  height: 500px;
  
}

.board table tr th{
  border: 1px solid black;
  background-color: beige;
  vertical-align: middle;
  text-align: center;
  height: 50px;
}

.board table tr td{
  border: 1px solid black;
  vertical-align: middle;
}


.swiper img{
  width: 50px;
  height: 50px;
}

/* main-section-right */

.main-section-right .realtimerank{
  height: 18px;
  overflow: hidden;
}

/*
.main-section-right .realtimerank .realtimerank-item{ 
  position: relative;
  animation-name: slide;
  animation-duration: 12s;
  animation-iteration-count: infinite;
}


@keyframes slide {
  from {
    bottom: 0px;
  }
  20% {
    bottom: 18px;
  }
  40%{
    bottom: 36px;
  }
  60%{
    bottom: 54px;
  }
  80%{
    bottom: 72px;
  }
  to {
    bottom: 90px;
  }
}
*/